---
# Use the WebKit or LLVM style as a base
BasedOnStyle: LLVM

# Indentation settings
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Common C preferences
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 80
---
